
@font-face {font-family: "SSTW20-Medium"!important; src: url("fonts/SSTW20Medium/SSTW20Medium.ttf")!important;
}
@font-face {
  font-family: 'SST Roman';
  font-style: normal;
  font-weight: normal;
  src: local('SST Roman'), url('fonts/SSTRg.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SST Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('SST Condensed'), url('fonts/SSTRgCn.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SST Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SST Italic'), url('fonts/SSTRgIt.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SST Light';
  font-style: normal;
  font-weight: normal;
  src: local('SST Light'), url('fonts/SSTLight.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SST Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SST Light Italic'), url('fonts/SSTLightIt.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SST Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SST Medium'), url('fonts/SSTMedium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SST Condensed Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SST Condensed Medium'), url('fonts/SSTMediumCn.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SST Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SST Medium Italic'), url('fonts/SSTMediumIt.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SST Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SST Bold'), url('fonts/SSTBold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SST Condensed Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SST Condensed Bold'), url('fonts/SSTBoldCn.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SST Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SST Bold Italic'), url('fonts/SSTBoldIt.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SST Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('SST Heavy'), url('fonts/SSTHeavy.woff') format('woff');
  }
  

  @font-face {
  font-family: 'SST Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SST Heavy Italic'), url('fonts/SSTHeavyIt.woff') format('woff');
  }


body{
  font-family: "SSTW20-Medium", sans-serif!important;
  background-color: #000000;
}
h1,h2,h3,h4,h5,h6{
  color: #363636;
  font-family:  "SSTW20-Medium", sans-serif!important;
}
p{
  color: #6B6B6B;
}
a{
  text-decoration: none!important;
}
nav{
  color: #A7A7A7;
}
article{
  padding: 0 38px;
}

.clearboth{
  clear: both;
}
#tarja{
    width: 100%;
    height: 30px;
    background: url('imagens/sony-logo-1.png') no-repeat 99% 50% #000000;
}
#tarja-preta-footer{
    width: 100%;
    height: 30px;
    background-color: #000000;
    display: none;
}
/* LISTA SOBRE A NAV PRINCIPAL */
#sobre-topo li a{
  color:#757575;
  font-size: 11px;
  font-family: "SST Medium";
}
#sobre-topo li a:hover{
  color:#0070D1;
}

/* MENU PRINCIPAL */
#lista-topo{
  margin-left: 22%;
}
ul#lista-topo li{
  padding: 0 8px 18px 8px;
  
}
ul#lista-topo li a{
  color: rgb(75, 75, 75);
  font-size: 13px;
  font-family: "SST Medium";
  
}
ul li#selected,ul#lista-topo li:active {
  color: #0072CE!important;
  border-bottom: 3px solid #0172CE;
}
a.selected{
  color: #147ed5!important;
}
ul#lista-topo li a:hover{
  color: #0072CE;
}
.navbar-toggler a{
  color: #363636!important;
  font-size: 0.9em!important;
  font-family: 'SST Medium';
}

/* BANNER */
div#banner{
  width: 100%;
  z-index: 99;
  background: url(imagens/banner-fifa.png) top no-repeat;
  margin: 30px 0 0 0;
  background-size: 100%;
  height: 400px;  
  
}

/* SUB-BANNER 1*/
div.sub-banner {
margin-top: -20px; 
padding: 10px;

box-shadow: 0px 8px 27px 6px rgba(107,107,107,0.55);

}
div.sub-banner h2{
  font-family: "SST Light";
  font-size: 22px;
}
div.sub-banner p{
  font-size: 12px;
}
div.sub-banner a{
  border-radius: 50px;
  background: #0072CE;
  color: #ffffff;

}
div.sub-banner a:hover{
  background: #004a87;
  color: #ffffff;

}
div.sub-banner a, div.sub-banner h2, div.sub-banner p{
  margin: 10px 15px;
}

/* SUB-BANNER 2 */
div.sub-banner-2 {
  padding: 10px;
  height: 160px;
  box-shadow: 0px 8px 27px 6px rgba(107,107,107,0.55);
  
  }
  div.sub-banner-2 h2{
    font-family: "SST Light";
    font-size: 22px;
  }
  div.sub-banner-2 p{
    font-size: 12px;
  }
  div.sub-banner-2 a{
    border-radius: 50px;
    background: #0072CE;
    color: #ffffff;
  
  }
  div.sub-banner-2 a:hover{
    background: #004a87;
    color: #ffffff;
  
  }
  div.sub-banner-2 a, div.sub-banner-2 h2, div.sub-banner-2 p{
    margin: 10px 15px;
  }
/* GRID DE JOGOS */
.card-jogo{
  margin: 10px 0;

}
.card-jogo img{
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 4px;
}
.card-jogo img:hover{
  -webkit-filter:grayscale(30%);
  filter:grayscale(30%);
  cursor: pointer;
}
.card-jogo img:active{
  border: 2px solid blue;
}
button.veja-mais{
background-color:#ffffff;
color: #0072CE;
border-radius: 20px;
border: none;
padding: 5px 10px;
}
button.veja-mais:hover{
background-color:#dcdcdc!important;
}

/* CAROUSEL */

.carrousel-item{
  width: 300px;
  border-radius: 10px;
  padding: 2px;
}

.carrousel-item:hover{
  
  cursor: pointer!important;
  border: 2px solid blue;
}
.botao-carousel{
   width: 45px;
   height: 45px;
   
  border-radius: 50%;
  padding: 20px;
  
   background-color: rgb(4, 113, 255);
   position: relative;
   z-index: 100;
}

#anterior-seta,#anterior-seta-2{
  margin-right: -10px;
  background: url(imagens/seta-esquerda.png) 12px 15px no-repeat #0070D1;
}
#proximo-seta, #proximo-seta-2{
  margin-left: -10px;
  background: url('imagens/seta-direita\ \(1\).png') center no-repeat #0070D1;
}
.js-carousel--responsive p{
margin: 0;
cursor: pointer;
position: relative;
z-index: -1;

}
  .carousel-1, .carousel-2, .carousel-3, .carousel-4,.carousel-5, .carousel-6, .carousel-7, .carousel-8, .carousel-9,.carousel-10, .carousel-11, .carousel-12{
  width: 350px!important;
  border-radius: 10px;
  padding: 2px;
  margin-left: 0;
  box-sizing: border-box;
  color: #363636;
  display: block;
}  

#carousel-2{
  margin-top: 120px;
}

/* BANNER 2 */
div#banner-1{
  background: url(imagens/fundo-banner.jpg) ;
  max-height: 410px;
}
div#banner-2{
  background: url(imagens/background-banner-2.jpg) right center ;
  max-height: 410px;
}

div#banner-1 img,div#banner-2 img{

margin: 0 0;
width: 350px;
}


/* FOOTER */
footer{
  background: #00439C;
  padding: 95px 160px;
 
  font-family: "SST Medium", sans-serif;
  
}
.footer-logo{
  margin-left: 30px;
}
footer p{
  color: #ffffff;
}
footer ul{
  list-style: none;
  
}
footer ul li{
  margin-top: 8px;
}
footer ul li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  
}
footer ul li a:hover{
  color: #7599C8;
  
}
footer h5{
  color: #ffffff;
  font-size: 0.85em;
}
#mundo{
  margin: 0 20px 0 60px;
}

/* MEDIA QUERIES */

  
@media screen and (max-width:400px) {
  /* MEDIA BANNER 2 */
  div#banner-1 img,div#banner-2 img {
    width: 120px;
  }
  img.carrousel-item{
    width: 120px;
    padding: 0;
  }
  article{
    padding: 0 10px;
  }
  div.sub-banner-2{
    height: 180px;
  }
  
  .carousel-1, .carousel-2, .carousel-3, .carousel-4,.carousel-5, .carousel-6, .carousel-7, .carousel-8, .carousel-9,.carousel-10, .carousel-11, .carousel-12{
    margin: 0;
    padding: 0;
  }

  /* footer */
  footer {
    padding: 40px 0;
    font-size: 0.6em;
  }
 .footer-logo{
  margin:0 0;
  
 }
 #logo-footer{
   display: block;
   margin: 0 auto
   ;
 }
 #mundo{
   margin: 25px 20px;
   display: inline-block;
  
 }
 p{
  font-size: 14px;
 }
 #tarja-preta-footer{
   display: block;
 }

  /* MEDIA TARJA PRETA TOPO */
  div#tarja {
    display: none;
    }
}


@media screen and (min-widht: 400px) and (max-width: 770px) {
    /* MEDIA ARTICLE */
    article{
      padding: 0 10px;
    }
  /* MEDIA TARJA PRETA TOPO */
    div#tarja {
    display: none;
    }
    /* MEDIA CAROUSEL */
    img.carrousel-item{
      width: 120px;
      padding: 0;
    }
    .glider-slide{
      min-width: 140px!important;
    }
    .carousel-1, .carousel-2, .carousel-3, .carousel-4,.carousel-5, .carousel-6, .carousel-7, .carousel-8, .carousel-9,.carousel-10, .carousel-11, .carousel-12{
      margin: 0;
      padding: 0;
    }
    


    /* MEDIA BANNER 2 */
    div#banner-1 img,div#banner-2 img {
      width: 200px;
    }

    /* MEDIA FOOTER */
    footer {
      padding: 40px 0;
      font-size: 0.6em;
    }
   .footer-logo{
    margin:0 0;
    
   }
   #logo-footer{
     display: block;
     margin: 0 auto
     ;
   }
   #mundo{
     margin: 25px 20px;
     display: inline-block;
    
   }
   p{
    font-size: 14px;
   }
   #tarja-preta-footer{
     display: block;
   }
  }

@media screen and (min-width:770px) and (max-width: 900px) {
    div#banner-2 img {
      width: 180px;
    }
  }
@media screen and (min-width:900px) {
  div.sub-banner{
    height: 160px;
  }
}



